/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
public/css/guava/filament-icon-picker/filament-icon-picker-stylesheet.css
public/build/assets/app-CUsSlUCt.css
public/build/assets/app-l0sNRNKZ.js
composer.lock
public/build/assets/app-BR-QgmDv.js
public/build/assets/app-DMx7OPaf.css
public/build/assets/theme-DUfMzVX6.css
public/css/filament/filament/app.css
public/js/filament/widgets/components/chart.js
public/js/filament/support/support.js
public/js/filament/forms/components/rich-editor.js
public/js/filament/forms/components/markdown-editor.js
public/build/manifest.json
package-lock.json
public/css/filament/forms/forms.css
public/js/filament/forms/components/date-time-picker.js
public/js/filament/forms/components/file-upload.js
public/css/bezhansalleh/filament-language-switch/filament-language-switch.css
